body{
    margin: 0;
    background-image: url(dark_mountains_full_moon-1024x576.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
}
h1{
    display: flex;
    justify-content: center;
    margin: 280px 0 0 0;
    text-shadow: 1px 1px 0 black;
}
p{
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 0 black;
}